/***** custom cursors ******/
body {
    cursor: url(../imgs/icons/cursor.png), auto;
}

a {
    cursor: url(../imgs/icons/hoverlink.png), pointer !important;
}


/***** Top menu *****/
 
.navbar {
    background: #8db3a2;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}
 
.navbar.navbar-no-bg {
    background: #8db3a2;
    background: #8db3a293; /*translucent*/
}
 
.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
 
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
 
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}
 
.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
    outline: 0;
}
 
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}
 

/*******Navbar styling for other devices ******/
@media (min-width: 768px) and (max-width: 991px) {
 
    .navbar-expand-md .navbar-nav .nav-link { padding-left: 0.6rem; padding-right: 0.6rem; }

}
 
@media (max-width: 767px) {
 
    .navbar.navbar-no-bg { background: #444; }
    .navbar-dark .navbar-toggler { border-color: #444; }
    .navbar-dark .navbar-toggler:focus { background: #333; outline: 0; }
    .navbar-expand-md .navbar-nav .nav-link { padding-top: 0.3rem; padding-bottom: 0.3rem; }
}

/***** All Sections *****/
.section-container {
    padding: 100px;
    min-height: 100vh;
}

.section-description {
    text-align: center;
}

/********* Links ********/
.txt-link {
    color: #ec9e71;
}

.txt-link:hover {
    color: #64917c;
    text-decoration: none;
}

.txt-link:active, .txt-link:after {
    color: #ec9e71;
}

/***** Back to Top button *****/
.btn {
    transition-duration: 0.2s;
    background-color: #8db3a2;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #64917c;
    color: white;
}

.btn:active, .btn:focus {
    background-color: #8db3a2;
    color: white;
    outline: none !important;
    border: none !important;
}

.circle-btn {
    border-radius: 50%;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    left: 25px;
    display: none;
}



/***** Top content *****/
 
.top-content {
    padding: 35vh 0;
}
 
.top-content .text {
    color: rgb(0, 0, 0);
}
 
.top-content .text h1 {
    margin-top: 25px;
    color:rgb(0, 0, 0);
}
 
.top-content .description {
    margin: 30px 0 10px 0;
}
 
.top-content .description p {
    opacity: 0.8;
}
 
.top-content .top-big-link {
    margin-top: 45px;
}

.top-content .description {
    padding-bottom: 10vh;
}

/***** about-me *****/
 
.about-me-box {
    padding-top: 100px;
    text-align: left;
    margin: auto;
}
 
.about-me-box .about-me-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
    background: #9b59b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb24b), color-stop(100%,#9b59b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb24b 0%,#9b59b6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffb24b 0%,#9b59b6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#9b59b6',GradientType=0 ); /* IE6-9 */
}
 
.about-me-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}

/***** Portfolio *****/
 
.portfolio-box {
    padding-top: 30px;
    text-align: left;
}
 
.portfolio-box-image {
    overflow: hidden;
    border-radius: 4px;
}
 
.portfolio-box-image img {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    -ms-transition: all .8s;
    transition: all .8s;
}
 
.portfolio-box-image:hover img {
    -o-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
 
.portfolio-box h3 {
    margin-top: 30px;
}
.portfolio-box h3 a { color: #555; }
.portfolio-box h3 a:hover, 
.portfolio-box h3 a:focus { color: #9b59b6; }
 
.portfolio-box h3 i {
    padding-left: 10px;
    color: #ccc;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.portfolio-box h3:hover i { padding-left: 15px; }
 
.portfolio-box-date {
    padding-bottom: 10px;
    font-size: 14px;
    color: #aaa;
    text-transform: uppercase;
}
 
.portfolio-box-date i {
    padding-right: 5px;
    color: #ddd;
}
 
.portfolio-container {
    padding-top: 10vh;
}

/******** resume section ******/
.experience-container {
    padding-top: 35vh;
}
